{% extends 'base.html' %}
{% block content %}
<tbody>
        <form class='form-horizontal' method='POST' action="">
        {{ form.csrf_token() }}
    <h3>Find order item </h3> {{ form.first_input.label }} {{ form.first_input }} {{ form.second_input.label }} {{ form.second_input }}
            {{ form.third_input.label }} {{ form.third_input }} {{ form.four_input.label }} {{ form.four_input }}
        <td>{{ form.submit(class="btn btn-primary") }}</form> <br>
        {% for item in item %}
            <tr>
                Order list with ID: <th scope="row">{{ item.order_list_id }}</th>
                <br>
                <a href="{{ url_for('post_order_list', post_id=item.order_list_id) }}">
                    <h6>Contains order with ID: {{ item.order_id }} <br>Processed by manager with ID: {{ item.manager_id }} <br>
                        Delivery date: {{ item.order_date }} <br> Current status: {{ item.status }}</h6>
                </a>
                <td><a class="badge badge-warning" href="{{ url_for('edit_order_list', id=item.order_list_id) }}">Edit</a></td>
                <br>
                <br>
            </tr>
        {% endfor %}
        </tbody>
        {% for page_num in item.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
           {% if page_num %} {% if item.page == page_num %}
        <a class="btn btn-info mb-4"
        href="{{ url_for('index_order_list', page=page_num) }}"> {{ page_num }} </a>
        {% else %}
        <a class="btn btn-outline-info mb-4"
        href="{{ url_for('index_order_list', page=page_num) }}"> {{ page_num }} </a>
        {% endif %} {% else %} ... {% endif %} {% endfor %}
{% endblock %}